@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;500;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
}

body {
  background-image: url(./images/image_geometry_1.svg);
}

.bg-dark {
  background-color: #1a2236;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  color: #1a2236;
}

.paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  height: 50px;
  width: 100%;
}

.btn-bg-dark {
  background-color: #1a2236;
  color: #fff;
  border: 1px solid #fff;
}

.btn-bg-dark:hover {
  border: 1px solid #1a2236;
  background-color: #fff;
  color: #1a2236;
}

.btn-bg-dark:focus {
  border: 2px solid #1a2236;
}

/* Navigation section */
.nav {
  display: flex;
  width: 95vw;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
}

.nav__links {
  display: none;
}

/* Hero section */
.hero-container {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 30px;
  margin: auto;
}

/* Projects section */

.projects-container {
  background-image: url(./images/projectsBackground.svg);
}

.projects-title-container {
  display: flex;
  width: 95vw;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 32px;
  margin: 0 auto;
}

.projects-cards-container {
  display: grid;
  grid-template-rows: 300px repeat(6, 1fr);
}

.project-card {
  display: flex;
  color: #fff;
  flex-flow: column;
  height: 70vh;
}

.projects-text {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;
  justify-content: space-evenly;
  height: 100%;
}

.projects-text h3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.projects-text ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 15px;
}

.projects-text li {
  background-color: #98dede;
  color: #1a2236;
  padding: 6px 10.5px;
  font-size: 10px;
  font-weight: 300;
  line-height: 8px;
  text-align: left;
}

.projects-button {
  display: flex;
  height: 44px;
  width: 178px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* About section */

.about-container {
  width: 90vw;
  margin: 0 auto;
}

.about-title-container {
  display: flex;
  height: 60vh;
  flex-flow: column;
  justify-content: space-around;
  margin-top: 50px;
}

.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* About cards */

.about-card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 40px;
}

.about-card {
  height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-card h3,
.about-card ul {
  width: 60%;
}

.about-card h3 {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  color: #fff;
}

.about-card ul {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.0525em;
  text-align: left;
  color: #fff;
  padding-left: 20px;
}

.about-card-container .bg-blue {
  background-color: #1c528a;
  background-image: url(./images/ic_languages_mob.svg);
  background-position: 100% 100%;
}

.about-card-container .bg-red {
  background-color: #e2505c;
  background-image: url(./images/ic_framework.svg);
  background-position: 100% 100%;
}

.about-card-container .bg-yellow {
  background-color: #febf52;
  background-image: url(./images/ic_skills.svg);
  background-position: 100% 100%;
}

/* Contact form section */

.form-section {
  background-image: url(./images/image_geometry_3.svg);
  background-color: #f9f9fa;
  width: 90vw;
  height: 100%;
  padding: 6rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: auto auto;
  margin-top: 50px;
}

.desk__para {
  display: none;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.form-input {
  display: flex;
  flex-direction: column;
  border: 1px #dfdfe0 solid;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  gap: 4px;
  background-color: #fff;
}

.label_ta {
  display: none;
}

form label {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #7d7c84;
}

form input {
  border: none;
}

form textarea {
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  width: 100%;
  height: 7rem;
  padding: 1rem;
}

/* Footer section */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
}

.desk__btn {
  display: none;
}

.footer-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: none;
  padding: 1rem;
  color: #92dcdc;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}


/* Desktop version */

@media only screen and (min-width: 768px) {
  *,
  *::after,
  *::before {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }

  body {
    background-image: none;
  }

  .title {
    font-size: 110px;
    line-height: 110px;
  }

  .button {
    font-size: 18px;
    line-height: 27px;
    height: 70px;
    width: 16rem;
  }

  .nav {
    width: 100%;
    box-shadow: 0 0.5px #dddfe6;
    height: 100px;
  }

  .nav__icon {
    display: none;
  }

  .nav__links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
  }

  .nav__link {
    text-decoration: none;
  }

  .nav__link h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #1a2236;
  }

  /* HERO SECTION */
  .hero-container {
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: auto auto 260px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    row-gap: 60px;
    column-gap: 0;
    max-height: 875px;
    height: 100%;
  }

  .hero-container::after {
    content: '';
    grid-area: 1/2/4/3;
    background-image: url(./images/heroDeskBg.png);
    background-position: right top;
    background-size: cover;
  }

  .hero-container::before {
    content: '';
    grid-area: 1/1/4/2;
    background-image: url(./images/image_dots.png);
    background-position: bottom right;
  }

  .hero__grid__item {
    max-width: 485px;
    margin-left: 160px;
  }

  .hero__title {
    grid-area: 1/1;
    padding-top: 192px;
    height: 412px;
  }

  .hero__text {
    grid-area: 2/1;
    height: 84px;
  }

  .hero__button {
    grid-area: 3/1;
  }

  /* Projects section */

  .projects-container {
    background-image: none;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 200px;
  }

  .projects-title-container {
    height: auto;
    width: 100%;
    background-image: url(./images/image_dots.png);
    background-position: top right;
    grid-area: 1/1/2/3;
  }

  .projects__title {
    transform: rotate(-90deg);
    margin-bottom: 250px;
  }

  .projects-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: 32.3% 1% 23.3% 11.1% 21.2% 11.1%;
    grid-template-rows: 34% 5% 11.1% 5% 11.1% 17% 16.8%;
  }

  .project-card {
    background: none;
    width: auto;
    height: auto;
  }

  .bg-none {
    background: none;
  }

  .card1 {
    grid-area: 1/3/2/7;
  }

  .card2 {
    grid-area: 3/1/5/2;
  }

  .card3 {
    grid-area: 5/1/7/4;
  }

  .card4 {
    grid-area: 7/4/8/6;
  }

  .card5 {
    grid-area: 4/5/6/7;
  }

  .card6 {
    grid-area: 2/5/4/7;
  }

  .projects__bg1 {
    background-image: url(./images/midGrid.svg);
    grid-area: 2/2/5/5;
    background-size: cover;
  }

  .projects__bg2 {
    background-image: url(./images/rightGrid.svg);
    grid-area: 6/4/7/7;
    background-size: cover;
  }

  .projects__bg3 {
    background-image: url(./images/bottomMidGrid.svg), url(./images/leftGrid.svg);
    background-position: top right, top left;
    grid-area: 7/1/8/4;
  }

  .project__image {
    width: 100%;
    object-fit: fill;
  }

  .projects-text {
    display: none;
  }

  /* About section */

  .about-container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 200px;
  }

  .about-title-container {
    width: 50%;
    height: 20rem;
    order: 1;
    margin-top: 50px;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 4rem;

    /* gap: 30px; */
  }

  .about-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 578px;
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
    gap: 0;
    background-image: url(./images/image_dots_with_teal.svg);
    background-position: bottom right;
  }

  .about-card {
    padding: 0;
    height: 20rem;
    width: 50%;
    min-width: 250px;
    max-height: 289px;
    max-width: 289px;
    margin: 0;
  }

  .about-button {
    margin-top: 20px;
  }

  /* Contact section */

  .form-section {
    background-image: url(./images/contactBottomRight.svg), url(./images/contactTopLeft.svg);
    background-position: bottom right, top left;
    width: 100%;
    height: 950px;
    max-width: 1440px;
    max-height: 950px;
    display: block;
    padding: 0;
  }

  .form-container {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  form {
    width: 100%;
  }

  .form-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 2rem;
  }

  .mob__para {
    display: none;
  }

  .desk__para {
    display: block;
  }

  .input1 {
    grid-area: 1/1/2/2;
  }

  .input2 {
    grid-area: 1/2/2/3;
  }

  .textarea1 {
    grid-area: 2/1/3/3;
  }

  .button1 {
    grid-area: 3/1/4/3;
    margin: 0 auto;
  }

  .form-input {
    border: none;
    background: none;
    padding: 0;
    width: 100%;
  }

  .form-input input {
    background-color: #fff;
    width: 16rem;
    border: 1px solid #e0e0e0;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    height: 4rem;
  }

  .label_ta {
    display: block;
  }

  /* Footer section */
  footer {
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 7.8rem;
  }

  .mob__btn {
    display: none;
  }

  .desk__btn {
    display: flex;
  }

  .social-list {
    width: auto;
    gap: 32px;
  }
}
