@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/image_geometry_1.svg);
  background-repeat: no-repeat;
}

/* Navigation section */
header {
  display: flex;
  width: 95vw;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
}

/* Hero section */
.hero-container {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 30px;
  margin: auto;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  color: #1a2236;
}

.hero-container p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
}

button.bg-dark {
  background-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.hero-container button.bg-dark {
  height: 50px;
}

button.bg-dark:hover {
  border: 1px solid #1a2236;
  background-color: #fff;
  color: #1a2236;
}

button.bg-dark:focus {
  border: 2px solid #1a2236;
}

/* Projects section */

.projects-container {
  background-image: url(./images/projectsBackground.svg);
  background-repeat: no-repeat;
}

.projects-title-container {
  display: flex;
  height: 60vh;
  width: 95vw;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 32px;
  margin: 0 auto;
}

.projects-cards-container {
  display: grid;
  background-color: #1a2236;
  grid-template-rows: repeat(6, 1fr);
}

.project-card {
  display: flex;
  color: #fff;
  flex-flow: column;
  height: 70vh;
}

.projects-text {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;
  justify-content: space-evenly;
  height: 100%;
}

.projects-text h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

.projects-text ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 15px;
}

.projects-text li {
  background-color: #98dede;
  color: #1a2236;
  padding: 6px 10.5px;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 8px;
  letter-spacing: 0;
  text-align: left;
}

.projects-button {
  display: flex;
  height: 44px;
  width: 178px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
